/**
 * Custom styles for the front-page.php template.
 */

.site-main {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	grid-auto-flow: row;
	grid-row-gap: 3em;
}

.hero-image > .wp-block-cover__inner-container {
	position: absolute;
	bottom: -3em;
	overflow: visible;
}

.wp-block-cover__inner-container.hero-image-title-container {
	width: auto;
}

.hero-image-title {
	font-size: 2em;
	font-weight: 600;
}

.hero-image {
	position: relative;
	overflow: visible;
}

.hero-image div {
	max-width: 70%;
}

.what-is-rmc-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.what-is-rmc {
	min-height: min-content;
	overflow: visible;
}

.what-is-rmc-p {
	text-align: justify;
	font-size: 1.5em;
	padding: 0 1em 0 1em;
}

.has-text-align-left.has-medium-font-size.wnat-is-rmc-p {
	max-width: 80%;
}

.what-is-rmc-button {
	color: black;
	align-self: center;
	flex: 1 0 auto;
}

.what-is-rmc-button a {
	margin: 1em 0 0.3em 0;
	box-shadow: 3px 3px black;
	transition: box-shadow 0.3s;
	font-size: 1em;
}

.what-is-rmc-button a:hover {
	box-shadow: 6px 6px black;
}

.overflow-header {
	background-color: #f99f6b;
	max-width: 6em;
	text-align: center;
	font-size: 1.5em;
	color: black;
	position: relative;
	top: -50px;
	flex: 1 0 auto;
	height: min-content;
	padding: 0.5em 0;
}

.what-is-rmc > wp-block-cover__inner-container {
	margin-top: 3em;
}

@media (--sidebar-query) {
	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border-radius: 0.5em;
		box-shadow: 0 2px 8px hsla(0, 0%, 50%, 0.8);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;
	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}
}

@media (--smallest-450px) {
	p.hero-image-title {
		font-size: 8vw;
		padding: 0;
	}

	.what-is-rmc > .wp-block-cover__inner-container {
		width: 90%;
	}

	.site-main {
		grid-row-gap: 2em;
	}

	.what-is-rmc {
		flex-flow: column nowrap;
	}

	.what-is-rmc-container {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	.what-is-rmc {
		min-height: min-content;
		overflow: visible;
	}

	.what-is-rmc-p {
		font-size: 1.5em;
		margin-top: 0;
		text-align: center;
		padding: 0;
	}

	.has-text-align-left.has-medium-font-size.wnat-is-rmc-p {
		max-width: 80%;
	}

	.what-is-rmc-button {
		color: black;
		align-self: center;
		flex: 1 0 auto;
	}

	.what-is-rmc-button a {
		margin: 0.5em 0 0.5em 0;
		box-shadow: 3px 3px black;
		transition: box-shadow 0.3s;
		font-size: 1em;
	}

	.what-is-rmc-button a:hover {
		box-shadow: 6px 6px black;
	}

	.overflow-header {
		margin-bottom: 0;
	}
}
